{% assign career-profile = site.data.data.career-profile %}
{% if career-profile %}
<section class="section summary-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-user fa-stack-1x fa-inverse"></i>
    </span>
    {{ career-profile.title }}
  </h2>

  <div class="summary">
    {{ career-profile.summary | markdownify }}
  </div><!--//summary-->
 
<h3>
RECENT NEWS:
</h3>
<ul>
  <li> <b> Actively looking for full time faculty positions and research positions. </b> </li>
   <li> <b> Graduated with PhD in Computer Science from University of New Mexico [July 2024]</b>  </li>
  <li> Defended my <a href="https://digitalrepository.unm.edu/cs_etds/127/" target="_blank"> dissertation  </a> <b>[May 8 2024]</b></li>
  <li> Attended <a href="https://oden.utexas.edu/news-and-events/events/1863---/" target="_blank"> Rising Star Workshop at UT Austin Oden Institute. </a> <b>[May 2024]</b> </li> 
  <li> Summer intern at <b> Lawrence Berkeley National Lab, <a href="https://crd.lbl.gov/divisions/amcr/computer-science-amcr/class/" target="_blank">Computer Languages and System Software Team.</a> </b>  <b>[June 2023 - August 2023]</b></li>
  <li> Received <a href="https://engineering.unm.edu/awards/index.html" target="_blank">UNM School of Engineering Outstanding Graduate Student Award </a> from Computer Science Department <b>[May 2023]</b>  </li>
  <li> BDA extended abstract got accepted <b> [May 2023] </b> </li>
  <li> Presented a <a href = "https://unmm-my.sharepoint.com/:p:/g/personal/htasnim30_unm_edu/ESOVUxMWN41DlN9y9dHQGXUBxXPNE_LqYJavS6KT8tiAhw?e=52INq7" target="_blank" >research talk </a> and poster on my ongoing work at <a href = "https://www.cs.unm.edu/~csgsa/cssc-2023.html" target="_blank"> 18th Annual Computer Science Student Conference 2023</a> at UNM. <b>[April 2023] </b> </li>
  <li> Submitted an extended abstract at <a href = "https://sites.google.com/view/bda23/home" target = "_blank"> 9th workshop on Biological Distributed Algorithms (BDA) </a> for GiAnt Project <b>[April 2023]</b> </li>
  <li> Got accepted in <a href = "https://shinstitute.org/sustainable-research-pathways-2022/" target = "_blank"> Sustainable Research Pathways Program </a> to work in Summer 2023 at Berkeley Lab under <a href = "https://www.exascaleproject.org/" target = "_blank">Exascale Computing Project.</a><b>[February 2023]</b> </li>
  <li> Attended <a href = "https://www.ecpannualmeeting.com/home.php" target = "_blank"> ECP Annual Meeting 2023</a> in Houston and presented a <a href = "https://unmm-my.sharepoint.com/:b:/g/personal/htasnim30_unm_edu/EXeGdVFWnFdOixvU-C4uc2YB9XO6bVdFDm79Jzhh_x0-kA?e=ApPN5N" target = "_blank">poster </a> on my summer work with SRP 2022 program at Berkeley Lab. <b>[January 2023]</b> </li>
</ul>
 
</section><!--//section-->
{% endif %}
