{% assign career-profile = site.data.data.career-profile %}
{% if career-profile %}
<section class="section summary-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-user fa-stack-1x fa-inverse"></i>
    </span>
    {{ career-profile.title }}
  </h2>

  <div class="summary">
    {{ career-profile.summary | markdownify }}
  </div><!--//summary-->
 
<h3>
RECENT NEWS:
</h3>
<ul>
  <li> <b> Actively looking for full time research positions. </b> </li>
  <li>Onboarding summer intern at <b> Lawrence Berkeley National Lab, <a href="https://crd.lbl.gov/divisions/amcr/computer-science-amcr/class/" target="_blank">Computer Langiages and System Software Team.</a> </b>  <b>[June 2023 - August 2023]</b></li>
  <li>Received <a href="https://engineering.unm.edu/awards/index.html" target="_blank">UNM School of Engineering Outstanding Graduate Student Award </a> from Computer Science Department <b>[May 2023]</b>  </li>
  <li>Presented a <a href = "https://unmm-my.sharepoint.com/:p:/g/personal/htasnim30_unm_edu/ESOVUxMWN41DlN9y9dHQGXUBxXPNE_LqYJavS6KT8tiAhw?e=52INq7" target="_blank" >research talk and poster on my ongoing work at <a href = "https://www.cs.unm.edu/~csgsa/cssc-2023.html" target="_blank"> 18th Annual Computer Science Student Conference 2023</a> at UNM. <b>[April 2023] </b> </li>

</ul>
 
</section><!--//section-->
{% endif %}
